.w3-text-black, .w3-hover-text-black:hover {
    color: #0b0b0b!important;
    width: 100%;
    background: white;
    border-bottom: 2px solid #009688f7;
    text-align: center;
    bottom: -158px;
}
.display-bg {
    background: url(https://cdn.discordapp.com/attachments/695838950597722205/695890097903763456/resume_side_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 187px !important;
}
.profile-image{
    height: 200px;
    width: 200px;
    background: red;
    border-radius: 100%;
    background-image: url(https://cdn.discordapp.com/attachments/695838950597722205/695839599276326964/IMG_20200226_155259_copy.jpg);
    background-size: cover;
    background-position-x: 31px;
    background-position-y: -24px;
    justify-content: center;
    margin-top: 95px;
    z-index: 1;
    border: 8px solid white;
}

.w3-display-container {
    position: relative;
    margin: 0px 0px 15px 0px;
}